<!DOCTYPE html>
<html>
  <head>
    <% title = @title.nil? ? "Home" : @title %>
    <title><%= title %> | Marcos Vinícius Cardoso Santini</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div class="container"> 
      <div class="header">
        <%= render "layouts/commons/header" %>
      </div>
      <div class="top-menu">
        <%= render "layouts/commons/top_menu" %>
      </div>
      <%= render "layouts/commons/menu" %>
      
      <%= yield %>

      <footer class="footer">
        <%= render "layouts/commons/footer" %>
      </footer>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%=render 'layouts/commons/ga' %>
  </body>
</html>
