<!DOCTYPE html>
<html>
  <head>
    <% title = @title.nil? ? "Home" : @title %>
    <title><%= title %> | O bit egoísta - The Selfish bit</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div class="container"> 
      <div class="header">
        <%= render "layouts/header" %>
      </div>
      <div class="top-menu">
        <%= render "layouts/top_menu" %>
      </div>
      <%= render "layouts/menu" %>
      
      <%= yield %>

      <footer class="footer">
        <%= render "layouts/footer" %>
      </footer>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74204105-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
